# OPENCODE_URL=http://host.docker.internal:4096
OPENCODE_SERVER_PASSWORD=
# OPENCODE_DIRECTORY=

# OPENAI_STT_BASEURL=http://speaches:8000
# OPENAI_STT_API_KEY=
# OPENAI_STT_MODEL=Systran/faster-whisper-large-v3
# OPENAI_STT_LANGUAGE=en

# OPENAI_TTS_BASEURL=http://speaches:8000
# OPENAI_TTS_API_KEY=
# OPENAI_TTS_MODEL=speaches-ai/Kokoro-82M-v1.0-ONNX
# OPENAI_TTS_VOICE=af_heart
# OPENAI_TTS_FORMAT=mp3
